## Simple script to join dataframes for a PowerBI visualization

In [1]:
import pandas as pd

In [3]:
all_players = pd.read_csv('../data/MLS/all_players.csv')
all_goalkeepers = pd.read_csv('../data/MLS/all_goalkeepers.csv')

In [4]:
all_players.head()

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,2,0.14,20,39,70,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,F,28,28,2351,23,2,100,49,...,2,0.08,32,26,35,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,F,26,26,2323,21,7,87,56,...,3,0.27,48,26,25,5,0,64.37,1996,reg
3,Preki,KC,M,32,32,2880,18,13,140,61,...,4,0.41,26,44,7,3,0,43.57,1996,reg
4,Brian McBride,CLB,F,28,28,2307,17,3,79,44,...,1,0.12,21,46,10,0,0,55.70,1996,reg

In [5]:
all_goalkeepers.head()

,Player,Club,POS,GP,GS,MINS,SHTS,SV,GA,GAA,PKG/A,W,L,T,ShO,W%,Sv%,Year,Season
0,Mark Dodd,DAL,GK,31,31,2776,235,160,45,1.45,5/5,17,14,0,6,54.8,68.1,1996,reg
1,Tony Meola,MET,GK,29,29,2610,188,142,38,1.31,3/4,14,15,0,9,48.3,75.5,1996,reg
2,Mark Dougherty,TB,GK,28,28,2520,186,123,47,1.68,9/10,17,11,0,3,60.7,66.1,1996,reg
3,Jorge Campos,LA,GK,24,24,2160,133,100,27,1.13,0/1,13,8,0,4,54.2,75.2,1996,reg
4,Garth Lagerwey,KC,GK,23,22,1959,133,83,38,1.73,2/2,12,10,0,3,52.2,62.4,1996,reg

In [11]:
df = pd.merge( all_players, all_goalkeepers,
                 how="left",
                 left_on= ["Club","Year"] , right_on= ["Club","Year"],
                 left_index=False, right_index=False,
                )
df.head()

,Player_x,Club,POS_x,GP_x,GS_x,MINS_x,G,A,SHTS_x,SOG,...,GA,GAA,PKG/A_y,W,L,T,ShO,W%,Sv%,Season_y
0,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,47.0,1.68,9/10,17.0,11.0,0.0,3.0,60.7,66.1,reg
1,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,4.0,1.00,0/0,3.0,1.0,0.0,1.0,75.0,78.3,reg
2,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,47.0,1.68,9/10,17.0,11.0,0.0,3.0,60.7,66.1,reg
3,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,4.0,1.00,0/0,3.0,1.0,0.0,1.0,75.0,78.3,reg
4,Raul Diaz Arce,DC,F,28,28,2351,23,2,100,49,...,35.0,1.94,7/8,9.0,10.0,0.0,0.0,47.4,60.9,reg

In [12]:
df.POS_x.unique()

array(['F', 'M', 'D', 'M-F', 'D-M', 'M-D', 'F-M'], dtype=object)

In [15]:
all_defenders = df[(df['POS_x'] == 'D') | (df['POS_x'] == 'D-M') | (df['POS_x'] == 'M-D')]
print(all_defenders.shape)
all_defenders.head()

(76716, 45)

,Player_x,Club,POS_x,GP_x,GS_x,MINS_x,G,A,SHTS_x,SOG,...,GA,GAA,PKG/A_y,W,L,T,ShO,W%,Sv%,Season_y
92,Marcelo Balboa,COL,D,18,16,1525,7,2,28,14,...,43.0,1.87,2/2,8.0,15.0,0.0,2.0,34.8,64.4,reg
93,Marcelo Balboa,COL,D,18,16,1525,7,2,28,14,...,16.0,1.78,2/2,3.0,6.0,0.0,2.0,33.3,61.8,reg
94,Marcelo Balboa,COL,D,18,16,1525,7,2,28,14,...,43.0,1.87,2/2,8.0,15.0,0.0,2.0,34.8,64.4,reg
95,Marcelo Balboa,COL,D,18,16,1525,7,2,28,14,...,16.0,1.78,2/2,3.0,6.0,0.0,2.0,33.3,61.8,reg
152,Steve Trittschuh,COL,D,32,32,2880,5,2,45,20,...,43.0,1.87,2/2,8.0,15.0,0.0,2.0,34.8,64.4,reg

In [17]:
all_defenders.to_csv('../data/MLS/all_defenders.csv', index=False)